@CHARSET "ISO-8859-1";

body{
	text-align: center;
	background-color: lightyellow;
	
}

#webseite{
	width: 980px;
	margin: 0 auto;
}

#header{
	width: 980px;
	height: 150px;
	border-radius: 5px;
	background-color: #5ED3F0;
}

#header h1{
	padding-top: 50px;
	font-size: 60px;
	color: #009AC1;
	font-family: monospace;
}
